@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 10, 10, 10;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0A0A0A;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Custom transitions */
.page-transition {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Hide scrollbar but allow functional scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Touch targets */
button, select, input {
  min-height: 48px;
}
